<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Donations</h2>
                <hr class="primary">
                <p>All donations are used to support the development of Tptoolkit and to cover additional costs as domain costs, hosting and the dedicated server for the demo api.</p>
            </div>
        </div>
        <br /><br />
        <div>
          <a class="donate-with-crypto"
            href="https://commerce.coinbase.com/checkout/5a160014-6392-46a5-8e39-8f59f9f4d274">
            Donate with Crypto
          </a>
          <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
          </script>
        </div>
        <br /><br />
        <div class="row">
            <div class="text-center">
                <p>All donations will be converted to ETH and collected in the main Tptoolkit ETH address. All transactions are transparent and can be verified on Etherscan.</p>
                <p><a href=https://etherscan.io/address/0x794DC9Bfe124d06DD0529Af7E27053e49fFE2d13>tptoolkit.cb.id (0x794DC9Bfe124d06DD0529Af7E27053e49fFE2d13) </a></p>
            </div>
        </div>
    </div>
</section>
