<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Donations</h2>
                <hr class="primary">
                <p>All donations are used to support the development of Raclink and to cover additional costs as domain costs, hosting and the dedicated server for the demo api.</p>
            </div>
            <div class="text-center">
                <a href="https://commerce.coinbase.com/checkout/1fc5807a-b339-4b8d-abaa-6527251a218f" class="btn btn-primary btn-xl">Donate with Crypto!</a>
                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="text-center">
                <p>Additionally, there is an NFT available to support the project.</p>
                <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/75944586074365036878783018368894540810871257590793489257014201986452134298600" class="btn btn-primary btn-xl">Buy the NFT!</a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="text-center">
                <p>All donations will be converted to ETH and collected in the main Raclink ETH address. All transactions are transparent and can be verified on Etherscan.</p>
                <p><a href=https://etherscan.io/address/0xa7e71cc9c8d1c54ea31b5faf47caadad41338659>raclink.eth</a></p>
            </div>
        </div>
    </div>
</section>
