<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="./img/raclink_icon.png" alt="Raclink logo"/>
            <br /><br />
            <h1>Trash Panda Toolkit</h1>
            <h2>Workflow as a Service (WaaS)</h2>
            <hr>
            <p>Tptoolkit is a Workflow as a Service (WaaS) framework to build tool chains by using Docker images.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
